auto-install-peers = true # auto install deps
node-linker=hoisted       # typescript relies on traditional node_modules structure
link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true
